body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #007bff;
  margin-top: 40px;
}

.submitted {
  text-align: center;
  color: #28a745;
  font-size: 24px;
  margin-top: 20px;
}

.topic{
  text-align: center;
}

.formcard {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.formcard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.fontIconSubmit {
  color: #28a745;
  margin-right: 10px;
}

.info {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 20px;
}

.fontIcon {
  margin-right: 10px;
  color: #007bff;
}

.semOption {
  margin-bottom: 20px;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: #007bff;
  color: #fff;
}

.even-row {
  background-color: #f8f9fa;
}

.odd-row {
  background-color: #fff;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.d-flex{
  flex-direction: row;
  justify-content: space-between;
}

.duplicate {
  text-align: center;
  font-size: larger;
  font-weight: 600;
  color: #ff5733; 
  margin-top: 20px;
  padding: 10px;
}

.thumbsUp {
  color: #007bff;
  font-size: 2rem;
  animation: pulseColorChange 2s ease-in-out infinite;
}

@keyframes pulseColorChange {
  0%, 100% {
    transform: scale(1);
    /* background-color: #007bff; */
  }
  50% {
    transform: scale(1.2);
    /* background-color: #0056b3; */
  }
}

@media only screen and (max-width: 600px) {
  .info {
    text-align: center;
  }

  .form-group input {
    width: calc(100% - 20px);
  }

  .table th,
  .table td {
    padding: 8px; 
  }
}
